* {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    margin: 0;
    padding: 0;
}
.welcomeLogo {
    margin-top: 20%;
    text-align: center;
    font-size: 40px;
    font-family: "Alfa Slab One", cursive;
}
/* Nav Bar  */
.textLogin {
    text-align: center;
    font-family: "Alfa Slab One", cursive;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav > *:hover {
    font-weight: 800;
    text-decoration: underline;
    gap: 2px;
}
nav > * {
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    margin-bottom: 50px;
}

.loginComponent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
    font-size: 40px;
    font-family: "Alfa Slab One", cursive;
    max-width: fit-content;
    /* background-color: white; */
}
input {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.button {
    text-align: center;
    font-family: "Alfa Slab One", cursive;
    font-size: 30px;
}
.createUser {
    text-align: center;
    font-family: "Alfa Slab One", cursive;
    font-size: 30px;
}
.UserPageDiv {
    text-align: center;
    margin-top: 20%;
    display: flex;
}

.UserInfoPage {
    margin-top: 20%;
    text-align: center;
    font-size: 10px;
    font-family: "Alfa Slab One", cursive;
}
.wrongInputMessage {
    font-size: 15px;
    color: red;
}
