* {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    margin: 0;
    padding: 0;
    /* background-color: #242424; */
}

.App {
    background-color: #f6f6f6;
    /* background-color: white; */
    /* max-width: 100%; */
    width: 100%;
}
html {
    background-color: #242424;
}
.Create_user_form {
    /* max-width: 50%; */
    display: flex; /*added*/
    flex-direction: column; /*added*/
    max-width: fit-content;
}

.welcomeLogo {
    margin-top: 20%;
    text-align: center;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
}
/* Nav Bar  */
.textLogin {
    /* display: flex; */
    text-align: center;
    font-family: "Raleway", sans-serif;
    background-color: #242424;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
}
nav > *:hover {
    font-weight: 800;
    text-decoration: underline;
    gap: 2px;
}
nav > * {
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    margin-bottom: 50px;
}

.loginComponent {
    max-width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    background-color: #242424;
    display: inline-flex;
}
input {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.button {
    text-align: center;
    font-family: "Raleway", sans-serif;

    font-size: 30px;
}
.createUser {
    text-align: center;
    font-family: "Raleway", sans-serif;

    font-size: 30px;
}
.UserPageDiv {
    text-align: center;
    margin-top: 20%;
    display: flex;
}

.UserInfoPage {
    margin-top: 20%;
    text-align: center;
    font-size: 10px;
    font-family: "Raleway", sans-serif;
}
.Wrong_Message_Notify {
    font-size: 15px;
    color: red;
}

/* Login CSS and Create User */
.Login_Image {
    max-width: 100%;
}
.Image_Div_Left,
.Image_Div_Right {
    min-width: 50%;
}

.Image_Div_Right {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 30px;
    border-style: none;
    font-size: 30px;
    color: black;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: fit-content;
}
.Sign_In {
    font-size: 50px;
    color: #f6f6f6;
    text-align: left;
    margin: 10px;
    font-family: "Merriweather", serif;
}
.New_User_Login {
    font-size: 20px;
    color: #f6f6f6;
    text-align: left;
    margin: 10px;
}
.create_account {
    text-decoration: underline;
    cursor: pointer;
}
.Home_Buttons_Sign_In {
    border-style: none;
    border-radius: 30px;
    margin-top: 25px;
    background-color: white;
    font-size: 25px;
    text-align: center;
    padding: 15px;
    color: black;
    width: 100%;
    /* height: 5px; */
}

.Form_Div {
    overflow: hidden;
}
.Input_Password,
.Input_Create_Password {
    text-align: start;
    color: #f6f6f6;
    font-family: "Merriweather", serif;
    margin-top: 25px;
}
/* Home Page CSS  */
.First_Section {
    padding-bottom: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    align-items: center;
    background-color: #242424;
}
.Home_Section_Text {
    display: block;
    text-align: center;
}
.Home_Page_Image {
    display: block;
    text-align: center;
}
.computerGuy {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.Describe_Web_Site {
    margin-right: 100px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}
.Image_Container {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
}

.Title {
    font-family: "Merriweather", serif;
    font-size: 40px;
    text-align: left;
    color: white;
    margin-left: 10px;
    word-wrap: break-word;
}
.Title_Description {
    color: white;
    margin-left: 10px;
}

/* componenets */

.Home_Section_Container {
    padding-bottom: 100px;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f6f6f6;
    /* margin-left: 150px; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.Home_Section_Container_2 {
    padding-bottom: 100px;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: white; */
    /* margin-left: 150px; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.Layout_Image {
    width: 65%;
}
.Text_Prop {
    text-align: left;
    font-family: "Raleway", sans-serif;
    word-wrap: break-word;
}

.Title_1 {
    font-family: "Merriweather", serif;
    font-size: 40px;
    text-align: left;
    word-wrap: break-word;
    max-width: 100%;
    width: 100%;
    /* overflow-wrap: break-word; */
    /* max-width: 50%; */
}
.Home_Page_Container {
    background-color: #f6f6f6;
    padding: 50px;
    /* position: relative; */
}
.container_2 {
    background-color: white;
    padding: 50px;
}
/* component 2  */

p {
    color: black;
}

.contact_us {
    background-color: #242424;
    height: 500px;
}

.Button_Container {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
    /* display: inline-flex; */
}
.Home_Buttons {
    border-radius: 30px;
    margin-top: 20px;
    background-color: white;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    color: black;
    border-style: none;
    max-width: 100%;
    min-width: 100%;
}

.Home_Buttons_1 {
    border-style: none;
    border-radius: 30px;
    margin-top: 20px;
    background-color: white;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    color: black;
    min-width: 100%;
}
.Home_Buttons:hover {
    background-color: #242424;
    color: white;
    /* border-style: ridge; */
}
.Home_Buttons_1:hover {
    background-color: #242424;
    color: white;
    /* border-style: ridge; */
}

.Valid_UserName {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: red;
}
/* UserPage CSS */

#chatbox {
    display: flex;
}

#contacts,
#messages {
    padding: 10px;
}
#contacts {
    width: 20%;
}

#contacts h1,
#messages h1 {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    background-color: rgb(131, 124, 124);
}

#contacts ul,
#messages ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
}

#contacts li,
#messages li {
    margin: 10px 0;
    color: black;
}

#input-form {
    min-width: 100%;
}

#input-form textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    /* resize: none; */
}

#input-form button {
    width: 100%;
    float: right;
    padding: 10px;
    color: black;
}

b {
    color: black;
}
.message_time_div {
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}
.message {
    max-width: fit-content;
    text-align: right;
    word-wrap: normal;
    text-align: left;
}
.time {
    text-align: left;
}
#chatbox {
    display: flex;
}
#messagesandinputform {
    width: 100%;
}
.input_form {
    display: flex;
    width: 100%;
}
.submit_text_area {
    flex-grow: 8; /* Make the input take up 8/10 of the available space */
    flex-basis: 0; /* Set the initial size of the input to 0 */
    color: black;
}
.submit_button {
    flex-grow: 2; /* Make the button take up 2/10 of the available space */
    flex-basis: 0; /* Set the initial size of the button to 0 */
}
.time {
    min-width: fit-content;
}

.add_button {
    background-color: green;
}
.user_container {
    min-width: fit-content;
}
@media (max-width: 1000px) {
    .user_container {
        width: 100%;
    }
    .message {
        max-width: 100%;
        word-wrap: break-word;
    }
    html {
        /* width: fit-content; */
    }
    .textLogin {
        display: flex;
        flex-direction: column;
    }
    .First_Section {
        flex-direction: column;
    }
    .Text_1 {
        width: 100%;
    }
    .Title_1 {
        text-align: center;
    }
    .Text_Prop {
        text-align: center;
    }
    .Title {
        font-family: "Merriweather", serif;
        font-size: 40px;
        text-align: center;
        color: white;
    }
    .Title_Description {
        color: white;
        text-align: center;
    }
    .Describe_Web_Site {
        margin-right: auto;
        text-align: center;
    }
    .Describe_Web_Site_1 {
        text-align: center;
    }

    .Home_Section_Container {
        padding-top: 30px;
        flex-direction: column-reverse;
    }
    .Home_Section_Container_2 {
        padding-top: 30px;
        flex-direction: column;
    }
    .Layout_Image {
        width: 80%;
    }
    .computerGuy {
        margin-left: auto;
        margin-right: auto;
    }
    .Home_Page_Container {
        background-color: #f6f6f6;
        padding: 0px;
    }
    .container_2 {
        background-color: white;
        padding: 0px;
    }
    .loginComponent {
        display: inline-flex;
        flex-direction: column;
    }
    form {
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
    }
    .Input_Login,
    .Input_Created_User {
        text-align: center;
    }
    .Sign_In {
        text-align: center;
    }
    .Button_Container {
        max-width: 100%;
        display: block;
    }
}
@media (max-width: 340px) {
    .Title_1 {
        font-size: small;
    }
    html {
        width: fit-content;
    }
}
